<script async defer src="https://buttons.github.io/buttons.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
<i class="fas fa-university"></i> AAEA Member
<a href="https://www.aaea.org" target="_blank">
  <img src="https://www.aaea.org/images/default-source/default-album/aaea_logo.png" alt="AAEA" style="height:24px;">
</a>
Click here: <i class="fab fa-github"></i> [GitHub](https://github.com/yourname)
Music: <i class="fas fa-piano"></i>  
Website: <i class="fas fa-globe"></i>
